$light_gray: #737373;
$gray: #F3F3F2;
$dark_gray: #444;
$white: #fff;
$black: #000;
$light_purple: #bda5d0;

$base_font: 'Open Sans', sans-serif;
$base_font_size: 16px;

$small_width: 500px;
$single_column: 677px;
