$light_gray: #737373;
$gray: #F3F3F2;
$lightest-gray: #eee;
$dark_gray: #444;
$white: #fff;
$black: #000;
$light_purple: #bda5d0;
$purple: #662d91;

$base_font: 'Open Sans', sans-serif;
$base_font_size: 16px;
$big_font_size: 28px;

$small_width: 500px;
$single_column: 677px;
