.SearchBar {
  background-color: $light_purple;
  color: $black;
  border: 0;
  padding: 1rem;
  width: 100%;
  font-size: $base_font_size;
  max-width: $small_width;
  display: block;
  margin: 3rem auto;
  @extend %border-radius;

  &:focus {
    @extend %input-focus;
  }
}

::placeholder {
  color: $black;
}